<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=DESKTOP-0T2DHHR\DEVELOP_2017; Initial Catalog=NominaSYS;User id=sa;Password = Masterkey15*;" providerName="System.Data.SqlClient"/>
  <add name="JulianaContext" connectionString="data source=DESKTOP-0T2DHHR\DEVELOP_2017;initial catalog=NominaSYS;User id=sa;Password = Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="NominaSYS" connectionString="data source=DESKTOP-0T2DHHR\DEVELOP_2017;initial catalog=NominaSYS;User id=sa;Password = Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>
