<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=SUSPA_DB;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"  />
  <add name="JulianaContext" connectionString="data Source=DESKTOP-06IJRC3\DEVELOP_2022; Initial Catalog=SUSPA_DB; User=sa; Password= Masterkey15*;" providerName="System.Data.SqlClient"/>
  <!--<add name="SUSPA_DB" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=SUSPA_DB;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <add name="SUSPA_DB" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=SUSPA_DB;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

  <!--<add name="NmMercadeo" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=NmMercadeo;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="NmDFly" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=NmDFly;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="NmImagen" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=NmImagen;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="NmKeyPeople" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=NmKeyPeople;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="NmMultiSponsor" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=NmMultiSponsor;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="NmTribal" connectionString="data source=DESKTOP-06IJRC3\DEVELOP_2022;initial catalog=NmTribal;User=sa; Password= Masterkey15*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

</connectionStrings>
