<div id="login" ng-init="vm.initLogin()">
  <div>
    <img src="{{ROOTURL + 'Static/images/juliana_logo_white_md.png'}}" alt="">
  </div>
  <div class="m-y-3 text-center" ng-if="vm.loading">
    <h4 ng-if="!vm.user">Cargando Datos de sesión</h4>
    <h4 ng-if="vm.user">Autenticando</h4>
    <div class="spinner m-x-auto">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div ng-if="!vm.loading && !vm.user">
    
  </div>

  <div class="alert alert-danger m-y-3" ng-if="vm.data.error">{{vm.data.error}}</div>
</div>
