<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="ADDomain" value="dominio" />
    <add key="ADIdField" value="employeeID" />
    <add key="JS_UseADLogin" value="false" />
    <add key="JS_BLOCKLEAVE" value="false" />
    <add key="JS_UseSessionTimeout" value="true" />
    <add key="JS_SessionTimeout" value="600000" />
    <add key="JS_UseDirigidoCertificado" value="true" />
    <add key="JS_MostrarAlertaVacaciones" value="false" />
    <add key="JS_AlertaVacaciones" value="Las solicitudes de vacaciones se deben ser realizadas con al menos 8 días de anticipación." />
    <add key="JS_MostrarAlertaCertlaboral" value="false" />
    <add key="JS_AlertaCertlaboral" value="Los certificados deben ser impresos y llevados a firmar al área de Recursos Humanos" />
    <add key="SECRET_JWT_BACKDOOR" value="JULIANA.API" />
    
    <!--<add key="auth0:Domain" value="dev-itmawnhl7zzhq573.us.auth0.com"/>
    <add key="auth0:ClientId" value="8HpwTtIKotdHOjxqV3DnlDK60is0LI2C"/>
    <add key="auth0:RedirectUri" value="8HpwTtIKotdHOjxqV3DnlDK60is0LI2C"/>
    <add key="auth0:PostLogoutRedirectUri" value="8HpwTtIKotdHOjxqV3DnlDK60is0LI2C"/>
    <add key="auth0:ClientSecret" value="p1r1bvQ788XcuNOsBofkSwLel5HFK-XtbqP1bWWkykJBQ1p1P5MBegne9f8XyROx"/>-->

    <!--<add key="JulianaApiUrl" value="https://systemssas.com/JulianaWeb/SSO" />
    
    <add key="JS_EnableSSOLogin" value="true" />
    <add key="auth0:UsernameClaim" value="email" />
    <add key="auth0:LoginStrategy" value="Email" />
    <add key="auth0:InternalLoginCode" value="QSHd2TxvjbbPxR5m98jaeTbFMJd1m0d5" />

    <add key="auth0:Domain" value="dev-73824426.okta.com" />
    <add key="auth0:Authority" value="https://dev-73824426.okta.com/oauth2/default" />
    <add key="auth0:TokenEndpoint" value="https://dev-73824426.okta.com/oauth2/default/v1/token" />
    <add key="auth0:UserInfoEndpoint" value="https://dev-73824426.okta.com/oauth2/default/v1/userinfo" />
    
    <add key="auth0:ClientId" value="0oagg1icr40wpu9ZW5d7" />
    <add key="auth0:ClientSecret" value="GbQb3f_J9RuDaOBQ1Br_E96lbcLH5DNvPnATST3_GA2-1u58B1ZWtscNJcGW92sp" />

    <add key="auth0:RedirectUri" value="https://systemssas.com/JulianaWeb/SSO/SSO/Login" />
    <add key="auth0:PostLogoutRedirectUri" value="https://systemssas.com/JulianaWeb/SSO/SSO/PostLogout" />-->

    
    <!--Auth0 Test-->

    <add key="JulianaApiUrl" value="https://localhost:44300" />
    
    <add key="JS_EnableSSOLogin" value="true" />
    <add key="auth0:UsernameClaim" value="email" />
    <add key="auth0:LoginStrategy" value="Email" />
    <add key="auth0:InternalLoginCode" value="QSHd2TxvjbbPxR5m98jaeTbFMJd1m0d5" />

    <add key="auth0:Domain" value="dev-systems-sas.us.auth0.com" />
    <add key="auth0:Authority" value="https://dev-systems-sas.us.auth0.com/oauth2" />
    <add key="auth0:TokenEndpoint" value="https://dev-systems-sas.us.auth0.com/oauth/token" />
    <add key="auth0:UserInfoEndpoint" value="https://dev-systems-sas.us.auth0.com/userinfo" />
    
    <add key="auth0:ClientId" value="no7AaKjXnE6QFCWEcwSGoTwv4RlFBiL2" />
    <add key="auth0:ClientSecret" value="pNESM2jEA6_BpA5pcBL_9ScBT77uzCElrsfjuE7arypqdOicThghsKYsgXHzGR9s" />

    <add key="auth0:RedirectUri" value="https://localhost:44300/SSO/Login" />
    <add key="auth0:PostLogoutRedirectUri" value="https://localhost:44300/SSO/PostLogout" />



    <!--RSCORP -->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api"/>
    <add key="DataicoElectronicPayrollAccountId" value="a701c16c-7fa5-433d-8e0c-c73afabd2d96"/>
    <add key="DataicoElectronicPayrollAuthToken" value="36db74d757b1eec75ad7c74d078b29b3"/>
    <add key="DataicoElectronicPayrollDianTestId" value="f808cdcd-1935-4182-a9bf-01f4ccec5c31"/>
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3"/>-->

    <!--UTECOLOG -->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api"/>
    <add key="DataicoElectronicPayrollAccountId" value="254dd9f5-68ab-4dac-9610-a22ebcfc32c5"/>
    <add key="DataicoElectronicPayrollAuthToken" value="53f7e82bdff5212f88905547e2bc2eec"/>
    <add key="DataicoElectronicPayrollDianTestId" value="db441784-8981-46ea-b597-306d14aa9582"/>
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3"/>-->
    <!--DEMO -->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="515d7c6a-301b-44b3-814a-62402ab3f375" />
    <add key="DataicoElectronicPayrollAuthToken" value="240f9f5b81c5ef7db41ab78150b4c054" />
    <add key="DataicoElectronicPayrollDianTestId" value="a3d7def7-3d91-4306-9c69-694f6b67e00c" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS PUBLICIST-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="ec1062d5-19c0-4549-ab81-9f9615d9a937" />
    <add key="DataicoElectronicPayrollAuthToken" value="fd51481e17d3f70a66bb348f05d6f339" />
    <add key="DataicoElectronicPayrollDianTestId" value="38b85f18-b95d-41b3-9b55-a96891f49780" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--TESSI-->
    <!--<add key="dataicoelectronicpayrollendpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="dataicoelectronicpayrollaccountid" value="743ab886-0332-47e4-b74e-de3560bbbd9e" />
    <add key="dataicoelectronicpayrollauthtoken" value="a486ecbd311ed8a55d36dab150a5e0e5" />
    <add key="dataicoelectronicpayrolldiantestid" value="6c0aa5c2-b8a3-4ddb-a064-b7fab210a39f" />
    <add key="dataicoelectronicpayrolldianid" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS MULLEN LOW-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="3e5a5304-294f-47ba-bad8-4ea20063dd07" />
    <add key="DataicoElectronicPayrollAuthToken" value="f97815d59840905c22c5f728169706da" />
    <add key="DataicoElectronicPayrollDianTestId" value="df38f826-e8b5-4608-8ed8-6efbe7a5130f" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS AXONPHARMA-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="bff7a0e0-7857-4f28-942a-c88a7ebf1461" />
    <add key="DataicoElectronicPayrollAuthToken" value="ca3eb39fb917231849ec2c171b9b39e0" />
    <add key="DataicoElectronicPayrollDianTestId" value="078a8707-ecfd-4b6c-a01c-349a4d3a2d41" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS AXONPHARMA-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="61958f75-b993-4248-9b04-4ea959d7125f" />
    <add key="DataicoElectronicPayrollAuthToken" value="daebb7a3da1546d19cf3115198986bcf" />
    <add key="DataicoElectronicPayrollDianTestId" value="137506af-fd5b-4478-bb40-1348694dfd5b" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS COMPAC-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="7b4b638a-d875-4cb6-8c7b-eecdc46efcaa" />
    <add key="DataicoElectronicPayrollAuthToken" value="0d0c2b9dd2e3c2eac3696d3a9ce30519" />
    <add key="DataicoElectronicPayrollDianTestId" value="c8d12136-f70d-4cef-97d5-f4799b7e4f49" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--SAINT-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="8b84b3d0-f635-42f5-811a-07fbe7086976" />
    <add key="DataicoElectronicPayrollAuthToken" value="a77564586b41d7e4fd29af4903d0a887" />
    <add key="DataicoElectronicPayrollDianTestId" value="e2965550-6972-4683-a08d-ab1c950725d1" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--LTM-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="8b84b3d0-f635-42f5-811a-07fbe7086976" />
    <add key="DataicoElectronicPayrollAuthToken" value="a77564586b41d7e4fd29af4903d0a887" />
    <add key="DataicoElectronicPayrollDianTestId" value="e2965550-6972-4683-a08d-ab1c950725d1" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS HELICOL-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="3313c4ed-20ee-478c-9db2-bd18ef877138" />
    <add key="DataicoElectronicPayrollAuthToken" value="7dfc6c79748628c5f2c72f90d4be5162" />
    <add key="DataicoElectronicPayrollDianTestId" value="86ec28bd-f6cd-4c78-9ecf-40e0a0352b69" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS SELECTA-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="02fd9771-52ea-41d8-a540-c9f383ea58ea" />
    <add key="DataicoElectronicPayrollAuthToken" value="49a42209e994acf7c5ff1bdc6f85b69c" />
    <add key="DataicoElectronicPayrollDianTestId" value="8dd1a07c-55bc-4912-98ac-e46400a72969" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS EMPRESARIALES-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="0a743e4b-1a04-41df-a25b-6dd5c661fcf8" />
    <add key="DataicoElectronicPayrollAuthToken" value="59e3a293a862a24da775428887b82393" />
    <add key="DataicoElectronicPayrollDianTestId" value="1fa95088-b38c-478c-a711-f984b893d0b8" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS APEX-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="d0318202-d29e-457e-b067-0bd4b64f1adf" />
    <add key="DataicoElectronicPayrollAuthToken" value="b8d2cefee13e25fa440bea674f8ee52d" />
    <add key="DataicoElectronicPayrollDianTestId" value="566abc59-540e-47c7-b7e3-6463567774f3" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS MASS DIGITAL-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="48941567-3622-4d8a-9867-8842da550e3b" />
    <add key="DataicoElectronicPayrollAuthToken" value="aaed7496ffbd3ce5f4d101f0b1eddc5b" />
    <add key="DataicoElectronicPayrollDianTestId" value="cb34eec9-7960-484c-91ae-f5d162d37cec" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS LEOBOURNET & PDG-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="ec1062d5-19c0-4549-ab81-9f9615d9a937" />
    <add key="DataicoElectronicPayrollAuthToken" value="fd51481e17d3f70a66bb348f05d6f339" />
    <add key="DataicoElectronicPayrollDianTestId" value="38b85f18-b95d-41b3-9b55-a96891f49780" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--MMS GAES-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="171d70bd-402d-4b16-a35f-197187b6cf06" />
    <add key="DataicoElectronicPayrollAuthToken" value="bed2c829668ca3064af452878a7a633b" />
    <add key="DataicoElectronicPayrollDianTestId" value="c9067b40-39c3-41e3-9edd-63e387d8eaeb" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--EDIFICIO 8080-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="ed196399-362a-4166-a0dc-57e07203081f" />
    <add key="DataicoElectronicPayrollAuthToken" value="ae77ba7e3ef0d68be727d25eb65f939c" />
    <add key="DataicoElectronicPayrollDianTestId" value="e72de69d-db3f-440a-9bdb-52b3a5c6b31e" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
    <!--SYSTEMS-->
    <!--<add key="DataicoElectronicPayrollEndpoint" value="https://api.dataico.com/direct/payroll-api" />
    <add key="DataicoElectronicPayrollAccountId" value="03ca8062-2d49-4604-85c3-7b62e223d671" />
    <add key="DataicoElectronicPayrollAuthToken" value="7ef1bdc6dca39c8153d66f3ab86bf887" />
    <add key="DataicoElectronicPayrollDianTestId" value="d02690fe-3f3b-4084-8780-ebae08cf4a9b" />
    <add key="DataicoElectronicPayrollDianId" value="d0e88268-a4ab-447d-918c-19c1c248b5c3" />-->
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config" />
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <roleManager enabled="true" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5.2" />
    <pages enableSessionState="true">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <globalization uiCulture="es-CO" culture="es-CO" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="JavascriptResourceHandler" verb="GET" path="JavascriptResourceHandler.axd" type="JulianaWeb.Providers.JavascriptResourceHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.20040" newVersion="4.3.0.20040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
