<div class="ngdialog-header">
  <h5 class="modal-title">Editar Permisos del rol {{data.role.Name}}</h5>
</div>
<div class="row ngdialog-body">
  <ul>
    <li>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"
               ng-model="Id_59e8428d"
               ng-change="Toggle_Perimission('59e8428d-8186-4096-9340-82102520bdfc')">
        <span class="custom-control-label">
          <b>Modulo de Comprobantes y Certificados</b>
        </span>
      </label>
      <ul>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_91dc4721"
                   ng-change="Toggle_Perimission('91dc4721-c079-41c0-8bd4-b248c20e0939')">
            <span class="custom-control-label">
              Comprobante de Pago
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_39337578"
                   ng-change="Toggle_Perimission('39337578-119d-4e52-a0ab-3c4e9079fbd0')">
            <span class="custom-control-label">
              Certificado Laboral
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_30007571"
                   ng-change="Toggle_Perimission('30007571-999d-4eau-a12b-3c4e9421fbd')">
            <span class="custom-control-label">
              Otros certificados
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_e5494def"
                   ng-change="Toggle_Perimission('e5494def-50dd-4243-86f3-f95d428ea92f')">
            <span class="custom-control-label">
              Certificado de Ingresos y Retenciones
            </span>
          </label>
        </li>
      </ul>
    </li>
    <hr>
    <li>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"
               ng-model="Id_7c1e7880"
               ng-change="Toggle_Perimission('7c1e7880-947b-4c5b-87da-e3222ba053b4')">
        <span class="custom-control-label">
          <b>Modulo de Consultas y Solicitudes</b>
        </span>
      </label>
      <ul>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_15f128b4"
                   ng-change="Toggle_Perimission('15f128b4-301c-4918-b2b0-7a1af93761a3')">
            <span class="custom-control-label">
              Vacaciones
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_5dx00121"
                   ng-change="Toggle_Perimission('7237fxd8-as1d-6343-aas1-a42gjsdacr3c')">
            <span class="custom-control-label">
              Reporte de vacaciones
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_a52483bb"
                   ng-change="Toggle_Perimission('a52483bb-5118-42b2-848a-d846a936b35a')">
            <span class="custom-control-label">
              Cesantias
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_2700343d"
                   ng-change="Toggle_Perimission('2700343d-e885-4b56-bbe2-f838b1ce4f02')">
            <span class="custom-control-label">
              Seguridad Social
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_492015e4"
                   ng-change="Toggle_Perimission('492015e4-d5b5-4461-98ea-25f5d0ff8394')">
            <span class="custom-control-label">
              Hoja de Vida
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_7f2ea269"
                   ng-change="Toggle_Perimission('7f2ea269-4074-4530-8371-18e1fca8c5c2')">
            <span class="custom-control-label">
              Historia Salarial
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_7ax53281"
                   ng-change="Toggle_Perimission('93375728-459d-44c2-a0ab-a4gjsd4c5dc')">
            <span class="custom-control-label">
              Incapacidades
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_1a334aa1"
                   ng-change="Toggle_Perimission('7337fxd8-459d-62c2-a1ab-a4gjsd4c5dc')">
            <span class="custom-control-label">
              Licencias
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_30A5CC78"
                   ng-change="Toggle_Perimission('2c26s6a1-9s25-95sc-1afc-a444ssc5dc')">
            <span class="custom-control-label">
              Time Sheet Report
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_3000AC78"
                   ng-change="Toggle_Perimission('2c26s6a1-9s25-9111-ABCD-a444ssc5dc')">
            <span class="custom-control-label">
              Políticas
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_3ACM4C28"
                   ng-change="Toggle_Perimission('1habch12-1icv-094d-SNCD-Ahchbnsnm2')">
            <span class="custom-control-label">
              Cumpleaños
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_3ACM4C29"
                   ng-change="Toggle_Perimission('1habch12-1icv-094d-SNCD-AASCCDF123')">
            <span class="custom-control-label">
              Turnos
            </span>
          </label>
        </li>
      </ul>
    </li>
    <hr>
    <li>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-label">
          <b>Opciones Masivas</b>
        </span>
      </label>
      <ul>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_6f57b492"
                   ng-change="Toggle_Perimission('6f57b492-b919-438c-b52e-effe182d2602')">
            <span class="custom-control-label">
              Generar Comprobantes de Pagos Masivos
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_69a5152f"
                   ng-change="Toggle_Perimission('69a5152f-2420-4056-a179-a78a355d0ee7')">
            <span class="custom-control-label">
              Generar Certificados Laborales Masivos
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_0e6a2caf"
                   ng-change="Toggle_Perimission('0e6a2caf-6b7f-4976-a165-f902e7bc7c14')">
            <span class="custom-control-label">
              Generar Certificados de Ingresos y Retenciones Masivos
            </span>
          </label>
        </li>
      </ul>
    </li>
    <hr>
    <!--DASHBOARD-->
    <li>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"
               ng-model="Id_32b9b101"
               ng-change="Toggle_Perimission('32b9b101-8ada-47d6-b072-9911b2945c2b')">
        <span class="custom-control-label">
          <b>Analítica de Datos</b>
        </span>
      </label>
      <ul>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_32d6ee52"
                   ng-change="Toggle_Perimission('b8ce5432-ba3c-4bd3-8424-c7fe4f57373c')">
            <span class="custom-control-label">
              Dashboard de Paryroll
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_b6264a0a"
                   ng-change="Toggle_Perimission('d8f576ff-d0fb-415f-ac2d-6752abc77b79')">
            <span class="custom-control-label">
              Dashboard Financiero
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_8a843db3"
                   ng-change="Toggle_Perimission('8c791c29-bf3d-4473-8d20-7fc59a1d5920')">
            <span class="custom-control-label">
              Dashboard RrHh
            </span>
          </label>
        </li>
      </ul>
    </li>
    <hr>
    <!--FIN DASHBOARD-->
    <li>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"
               ng-model="Id_abd25157"
               ng-change="Toggle_Perimission('abd25157-ab95-46ee-89cd-28d3ff910d49')">
        <span class="custom-control-label">
          <b>Modulo de Admininstración</b>
        </span>
      </label>
      <ul>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_7705535b"
                   ng-change="Toggle_Perimission('7705535b-ed70-4259-a9a9-5545712dbee5')">
            <span class="custom-control-label">
              Aprobar Solicitudes
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_e41eed8b"
                   ng-change="Toggle_Perimission('e41eed8b-ef28-4002-97a5-c74ffe23dde4')">
            <span class="custom-control-label">
              Editar y Asignar Permisos
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_7d0ae81a"
                   ng-change="Toggle_Perimission('7d0ae81a-6009-4cfc-8ea4-1104bdf7adcf')">
            <span class="custom-control-label">
              Configurar Comprobantes de Pagos
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_976876ab"
                   ng-change="Toggle_Perimission('976876ab-94d7-403f-b615-7faa6daa5577')">
            <span class="custom-control-label">
              Configurar Certificados Laborales
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_PER4C157"
                   ng-change="Toggle_Perimission('abd25157-ab95-4000-ascd-28d3ff910d49')">
            <span class="custom-control-label">
              Nómina Eléctronica
            </span>
          </label>
        </li>
        <li>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"
                   ng-model="Id_732ca543"
                   ng-change="Toggle_Perimission('732ca543-4d77-4de2-980c-b0d3ed1ecbb8')">
            <span class="custom-control-label">
              Configurar Certificados de Ingresos y Retenciones
            </span>
          </label>
        </li>
      </ul>
    </li>
  </ul>
  <hr>
  <div class="col-md-12">
    <button type="button" class="btn btn-outline-secondary" ng-click="Close_Dialog()">Cancelar</button>
    <button type="button" class="btn btn-success float-right" ng-disabled="SolicitudVacacionesForm.$invalid" ng-click="Save_Changes()">
      Guardar Cambios
    </button>
  </div>
</div>

<!--
<form name="SolicitudVacacionesForm">
  <div class="ngdialog-header">
    <h5 class="modal-title"><i class="material-icons">verified_user</i> Permisos Rol {{data.role.Name}}</h5>
  </div>
  <div class="row ngdialog-body">
    <ul>
      <li ng-repeat="r in data.config.roles"        
          selection-model
          selection-model-type="'checkbox'"
          selection-model-mode="'multiple-additive'"
          selection-model-selected-items="selectedItems">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-label"></span>
        </label>
        {{r.Description}}
      </li>
    </ul>
    <div class="col-md-12 text-right">
      <button type="button" class="btn btn-outline-secondary" ng-click="Close_Dialog()">Cancelar</button>
      <button type="button" class="btn btn-success" ng-disabled="SolicitudVacacionesForm.$invalid" ng-click="Save_Changes()">
        Guardar Cambios
      </button>
    </div>
  </div>
</form>

-->
