<ol class="breadcrumb d-none d-md-flex">
  <li class="breadcrumb-item">
    <a ui-sref="dashboard">
      <i class="material-icons">home</i>
    </a>
  </li>
  <li class="breadcrumb-item active">Cambio de contraseña</li>
</ol>


<div class="card primary-theme shadow">
  <form name="changePasswordForm">
    <div class="card-header"></div>
    <div class="card-body">
      <p class="alert alert-warning">Es necesario cambiar la contraseña actual</p>
      <div class="form-group">
        <label>Nueva Contraseña:</label>
        <input class="form-control" type="password" name="newPassword" ng-model="vm.viewmodel.newPassword" ng-pattern="/^.*(?=.{6,20})(?=.*\d)(?=.*[a-zA-Z]).*$/"
          required>
        <div ng-messages="changePasswordForm.newPassword.$error" role="alert" ng-if="changePasswordForm.newPassword.$dirty">
          <div ng-message="required" class="alert alert-danger mt-3">Este campo requerido.</div>
          <div ng-message="pattern" class="alert alert-danger mt-3">
            <p>la contraseña debe contener:
              <ul>
                <li>minimo 6 caracteres de largo</li>
                <li>al menos una letra</li>
                <li>al menos un número </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Repetir Contraseña:</label>
        <input class="form-control" type="password" name="newPassword2" ng-model="vm.viewmodel.newPassword2" compare-to="vm.viewmodel.newPassword"
          required>
        <div ng-messages="changePasswordForm.newPassword2.$error" ng-if="changePasswordForm.newPassword2.$dirty" role="alert"
          required>
          <div ng-message="required" class="alert alert-danger mt-3">Este campo requerido.</div>
        </div>
        <div ng-if="vm.viewmodel.newPassword2 != vm.viewmodel.newPassword && changePasswordForm.newPassword2.$dirty"
          class="alert alert-danger mt-3">Las contraseñas no coinciden</div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button type="button" class="btn btn-primary" ng-disabled="changePasswordForm.$invalid" ng-click="vm.Change_Password()">

        <span ng-if="!vm.saving">Guardar cambios</span>
        <div class="spinner" ng-if="vm.saving">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </button>
    </div>
  </form>
</div>
