
<meta charset="UTF-8">
<style>
  body{
    font-family: "Arial";
    margin: 0;
    padding:  50px 100px;
    padding-right: 70px;
    font-size: 13pt;
    line-height: 115%;
    padding-bottom: 0;
    text-rendering: geometricPrecision;
  }

  .row .row{
    display: table;
  }

  .row {
    display: table;
    width: 100%;
  }
  .row div{
    display: table-cell;
    vertical-align: middle;
  }
  .row.padding{
    padding: 10px 0;
  }
  .text-center{
    text-align: center;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .text-justify{
    text-align: justify;
  }
</style>

<div class="row" style="border-top:1px solid #ccc;">
    <div style="color: #777;padding:20px 0;font-size:14px;line-height:105%">
      <b>Ferrostaal de Colombia S.A.S</b> <br>
        Calle 73 # 7-06 Piso 3 <br>
        Bogotá – Colombia <br>
        Código Postal 110221
    </div>
    <div style="width:120px;text-align: center;padding:10px;text-align:right">
      <img src="../../images/calidad.jpg" alt="" style="width:100px;">
    </div>
    <div style="width:120px;text-align: center;padding:10px;text-align:right">
      <img src="../../images/calidad2.png" alt="" style="width:100px;">
    </div>
  </div>

