<ol class="breadcrumb d-none d-md-flex">
  <li class="breadcrumb-item">
    <a ui-sref="dashboard">
      <i class="material-icons">home</i>
    </a>
  </li>
  <li class="breadcrumb-item active">Cambio de contraseña</li>
</ol>


<div class="card primary-theme shadow">
  <form name="changePasswordForm">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Contraseña actual:</label>
            <input class="form-control" type="password" name="oldPassword" ng-model="vm.viewmodel.oldPassword" required>
            <div ng-messages="changePasswordForm.oldPassword.$error" role="alert">
              <div ng-message="required" class="alert alert-danger m-t-1">Este campo requerido.</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Nueva Contraseña:</label>
            <input class="form-control" type="password" name="newPassword" ng-model="vm.viewmodel.newPassword" ng-pattern="/^.*(?=.{6,20})(?=.*\d)(?=.*[a-zA-Z]).*$/" required>
            <div ng-messages="changePasswordForm.newPassword.$error" role="alert" ng-if="changePasswordForm.newPassword.$dirty">
              <div ng-message="required" class="alert alert-danger m-t-1">Este campo requerido.</div>
              <div ng-message="pattern" class="alert alert-danger m-t-1">
                <p>la contraseña debe contener:
                <ul>
                  <li>6 - 20 caracteres de largo</li>
                  <li>al menos una letra</li>
                  <li>al menos un número </li>
                </ul>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Repetir Contraseña:</label>
            <input class="form-control" type="password" name="newPassword2" ng-model="vm.viewmodel.newPassword2" compare-to="vm.viewmodel.newPassword" required>
            <div ng-messages="changePasswordForm.newPassword2.$error" ng-if="changePasswordForm.newPassword2.$dirty"  role="alert" required>
                <div ng-message="required" class="alert alert-danger m-t-1">Este campo requerido.</div>
                <div ng-message="pattern" class="alert alert-danger m-t-1">Las contraseñas no coinciden</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary float-right" ng-disabled="changePasswordForm.$invalid" ng-click="vm.Change_Password()">Guardar</button>
    </div>
  </form>
</div>



